/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

#hero {
  background-image: url(../images/apple-pie.jpg);
  height: 800px;

  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 70px;
    color: white;
  }
}

h2{

  margin-bottom: 2%;
  font-size: 31px;
  font-weight: bold;


}

#preparation {
  display: flex;
  flex-direction: column;
  margin: 7% 12% 3% 12%;

  img {
    height: 85px;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  p {
   
    margin-bottom: 7%;
    text-align: center;
    font-size: 33px;
    font-weight: lighter;
  }
}

hr {

  width: 75%;
  margin: 0 auto;
  height: 3px;
  background-color: grey;


}


#ingredients{

  display: flex;
  flex-direction: column;
  margin: 7% 12% 3% 12%;

  ul {
    list-style-type:none;
    margin-left: 1%;
    margin-bottom: 8%;
    font-size: 29px;
    font-weight: lighter; /*preguntar a Marcel */

  }

  img {
    height: 105px;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  p {
   
    
  }


}

#directions {
  display: flex;
  flex-direction: column;
  margin: 5% 12% 7% 12%;
p {
  margin-left: 1%;
  font-size: 29px;
  font-weight:lighter; 
}


}



